In [2]:
import pandas as pd

In [6]:
melb_data = pd.read_csv('D:\pycharm\module11\melb_data_ps1.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [7]:
melb_df = melb_data.copy()
melb_df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [8]:
melb_df.drop(['index', 'Coordinates'], axis=1, inplace=True)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [9]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
total_rooms

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

In [10]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsSquare'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsSquare, Length: 13580, dtype: float64

In [11]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

In [12]:
melb_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,202.0,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,94.0,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150,...,652.0,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016,...,333.0,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016,...,436.0,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016,...,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013,...,362.0,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426

In [13]:
melb_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'MeanRoomsSquare',
       'AreaRatio'],
      dtype='object')

In [14]:
melb_df.values

array([['Abbotsford', '85 Turner St', 2, ..., 4019, 25.2,
        -0.23170731707317074],
       ['Abbotsford', '25 Bloomburg St', 2, ..., 4019, 15.8,
        -0.3276595744680851],
       ['Abbotsford', '5 Charles St', 3, ..., 4019, 18.75,
        0.056338028169014086],
       ...,
       ['Williamstown', '83 Power St', 3, ..., 6380, 15.75,
        -0.5516014234875445],
       ['Williamstown', '96 Verdon St', 4, ..., 6380, 17.444444444444443,
        -0.6930596285434996],
       ['Yarraville', '6 Agnes St', 4, ..., 6543, 12.444444444444445,
        -0.5274261603375527]], dtype=object)

In [15]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

In [16]:
countries_df['density'] = countries_df['population'] / countries_df['square'] * 1e6
round(countries_df['density'].mean(), 2)

84.93

In [17]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['Date']

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [18]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df[(melb_df['WeekdaySale'] == 5) | (melb_df['WeekdaySale'] == 6)].shape[0]
weekend_count

12822

In [19]:
nlo_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')

In [20]:
nlo_df['Time'] = pd.to_datetime(nlo_df['Time'])
nlo_df['Time'].dt.year.mode()[0]

1999

In [21]:
nlo_df['Date'] = nlo_df['Time'].dt.date
nlo_df[nlo_df['State']=='NV']['Date'].diff().dt.days.mean()

68.92932862190813

In [22]:
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

In [23]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

In [24]:
street_types.value_counts()

St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Gdns            4
Grn             4
Fairway         4
Mews            4
Crossway        3
Righi           3
Victoria        2
Ridge           2
Crofts          2
Esp             2
Glade           1
Gra             1
Ave             1
Woodland        1
Outlook         1
Hts             1
Highway         1
Athol           1
Summit          1
Grand           1
Res             1
Nook            1
Eyrie           1
Dell            1
East            1
Loop            1
Grange          1
Terrace         1
Cove            1
Qy              1
Corso           1
Name: Address, dtype: int64

In [25]:
street_types = street_types.apply(lambda x: 'Av' if x == 'Avenue' else x)
street_types = street_types.apply(lambda x: 'Bvd' if x == 'Boulevard' else x)
street_types = street_types.apply(lambda x: 'Pde' if x == 'Parade' else x)
street_types.value_counts()

St           8012
Rd           2825
Ct            612
Dr            447
Av            361
Gr            311
Pde           226
Pl            169
Cr            152
Cl            100
La             67
Bvd            66
Tce            47
Wy             40
Cct            25
Hwy            24
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Mews            4
Grn             4
Fairway         4
Gdns            4
Righi           3
Crossway        3
Esp             2
Victoria        2
Ridge           2
Crofts          2
Grand           1
Summit          1
Hts             1
Athol           1
Highway         1
Outlook         1
Woodland        1
Ave             1
Gra             1
Terrace         1
Eyrie           1
Dell            1
East            1
Loop            1
Nook            1
Glade           1
Qy              1
Cove            1
Res             1
Grange          1
Corso           1
Name: Address, dtype: int64

In [26]:
popular_stypes = street_types.value_counts().nlargest(10).index

In [27]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

In [28]:
melb_df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,WeekdaySale,StreetType
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,5,St
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,3,St
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,5,St
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,5,other
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,5,St
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,...,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,5,Cr
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,...,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,5,Dr
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,...,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,5,St
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,...,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,5,St
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,...,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,5,St

In [29]:
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(lambda weekday: 1 if weekday == 5 or weekday == 6 else 0)
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  object
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  object
 6   SellerG          13580 non-null  object
 7   Date             13580 non-null  datetime64[ns]
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  YearBuilt        13580 non-null  int64
 16  CouncilArea      12211 non-null  object
 17  Lattitude        13580 non-null  float64
 18  Longtitude       13580 non-null  float64
 19  Regionname       13580 non-null  object
 20  Propertycount    13580 non-null  int64
 21  MeanRoomsSquare  13580 non-null  float64
 22  AreaRatio        13580 non-null  float64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(9), object(8)
memory usage: 2.7+ MB

In [30]:
round(melb_df[melb_df['Weekend'] == 1]['Price'].mean())

1081199

In [31]:
melb_df['SellerG'].value_counts()

Nelson           1565
Jellis           1316
hockingstuart    1167
Barry            1011
Ray               701
                 ...
Prowse              1
Luxe                1
Zahn                1
Homes               1
Point               1
Name: SellerG, Length: 268, dtype: int64

In [32]:
popular_seller = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda seller: seller if seller in popular_seller else 'other')
melb_df['SellerG'].value_counts()

Nelson           1565
Jellis           1316
other            1199
hockingstuart    1167
Barry            1011
Ray               701
Marshall          659
Buxton            632
Biggin            393
Brad              342
Woodards          301
Fletchers         301
Jas               243
Greg              239
McGrath           222
Sweeney           216
Noel              205
Miles             196
RT                184
Gary              170
Harcourts         168
Hodges            157
YPA               154
Stockdale         150
Village           125
Kay               119
Raine             116
Williams          111
Love              109
Douglas            97
Chisholm           77
RW                 70
Rendina            66
HAR                62
O'Brien            61
C21                57
Collins            56
Cayzer             52
Eview              51
Purplebricks       51
Philip             48
Buckingham         46
Bells              44
Thomson            42
Nick               40
Alexkarbon         40
McDonald           39
Burnham            39
Moonee             36
LITTLE             35
Name: SellerG, dtype: int64

In [33]:
a = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
b = melb_df[melb_df['SellerG'] == 'other']['Price'].min()

In [34]:
round(a / b, 1)

1.3

In [35]:
# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtypes) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

        Column_Name  Num_Unique            Type
0           Weekend           2           int64
1              Type           3          object
2       WeekdaySale           5           int64
3            Method           5          object
4        Regionname           8          object
5             Rooms           9           int64
6          Bathroom           9           int64
7        StreetType          11          object
8               Car          11           int64
9           Bedroom          12           int64
10      CouncilArea          33          object
11          SellerG          50          object
12             Date          58  datetime64[ns]
13        YearBuilt         144           int64
14         Postcode         198           int64
15         Distance         202         float64
16    Propertycount         311           int64
17           Suburb         314          object
18     BuildingArea         602         float64
19  MeanRoomsSquare        1277         float64
20         Landsize        1448         float64
21            Price        2204         float64
22        Lattitude        6503         float64
23        AreaRatio        6521         float64
24       Longtitude        7063         float64
25          Address       13378          object

In [36]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car'] # список столбцов, которые мы не берём во внимание
max_unique_count = 150 # задаём максимальное число уникальных категорий
for col in melb_df.columns: # цикл по именам столбцов
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude: # проверяем условие
        melb_df[col] = melb_df[col].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  category
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  category
 6   SellerG          13580 non-null  category
 7   Date             13580 non-null  datetime64[ns]
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  YearBuilt        13580 non-null  category
 16  CouncilArea      12211 non-null  category
 17  Lattitude        13580 non-null  float64
 18  Longtitude       13580 non-null  float64
 19  Regionname       13580 non-null  category
 20  Propertycount    13580 non-null  int64
 21  MeanRoomsSquare  13580 non-null  float64
 22  AreaRatio        13580 non-null  float64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(9), datetime64[ns](1), float64(8), int64(6), object(2)
memory usage: 1.9+ MB

None

In [37]:
popular_seller = melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_seller else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')

In [38]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Address          13580 non-null  object
 2   Rooms            13580 non-null  int64
 3   Type             13580 non-null  category
 4   Price            13580 non-null  float64
 5   Method           13580 non-null  category
 6   SellerG          13580 non-null  category
 7   Date             13580 non-null  datetime64[ns]
 8   Distance         13580 non-null  float64
 9   Postcode         13580 non-null  int64
 10  Bedroom          13580 non-null  int64
 11  Bathroom         13580 non-null  int64
 12  Car              13580 non-null  int64
 13  Landsize         13580 non-null  float64
 14  BuildingArea     13580 non-null  float64
 15  YearBuilt        13580 non-null  category
 16  CouncilArea      12211 non-null  category
 17  Lattitude        13580 non-null  float64
 18  Longtitude       13580 non-null  float64
 19  Regionname       13580 non-null  category
 20  Propertycount    13580 non-null  int64
 21  MeanRoomsSquare  13580 non-null  float64
 22  AreaRatio        13580 non-null  float64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(6), object(1)
memory usage: 1.8+ MB